@model IEnumerable<Zahtjev>

@{
    ViewData["Title"] = "Zahtjevi za sezonske ulaznice";
}

<link rel="stylesheet" href="~/css/UserManagement.css" />
@if (Model.Count() != 0) {
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Sezonske ulaznice</h2>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-default" asp-action="Upsert"><i class="fas fa-plus"></i> Dodaj novi tip sezonske ulaznice</a>
                        </div>
                    </div>
                </div>
                <table class="table" style="color: lightgray;">
                    <thead style="color: white;">
                        <tr style="background: #050323;">
                            <th style="border: none; text-align: center" colspan="2">Broj zahtjeva</th>
                            <th style="border: none; text-align: center">Tip ulaznice</th>
                            <th style="border: none">Cijena</th>
                            <th style="border: none">Korisnik</th>
                            <th style="border: none" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model) {
                            <tr>
                                <td style="border: none; text-align: center" colspan="2">@obj.Id</td>
                                <td style="border: none; text-align: center">@obj.TipUlazniceForZahtjev.Ime</td>
                                <td style="border: none">@obj.TipUlazniceForZahtjev.Cijena kn</td>
                                <td style="border: none">@obj.ApplicationUserForZahtjev.Ime @obj.ApplicationUserForZahtjev.Prezime</td>
                                <td colspan="2" style="border: none; text-align: center;">
                                    <a asp-action="Upsert" asp-route-Id="@obj.Id" class="edit"><i class="fas fa-edit custom-icon-edit"></i></a>
                                    <a asp-action="Delete" asp-route-Id="@obj.Id" class="delete"><i class="fas fa-trash custom-icon-trash"></i></a>
                                    <a asp-controller="Ulaznica" asp-action="Upsert" asp-route-zahtjevId="@obj.Id" class="delete"><i class="fas fa-check custom-icon-trash"></i></a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else {
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 pt-3">
            <p style="color: white; font-size: 18px;">Nemate dodan niti jedan zahtjev za sezonskom ulaznicom!</p>
        </div>
        <div class="col-4"></div>
    </div>
    
}

